@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.scroller {
  border-color: #6B7280;

  &.scroller-hidden {
    border-color: transparent;
    transition-duration: 250ms;
    transition-property: border-right-color;
    transition-timing-function: ease-out;
  }

  &::-webkit-scrollbar {
    width: 5px;

    &-track {
      background: transparent;
    }

    &-thumb {
      border-color: inherit;
      border-right-width: 5px;
      border-right-style: inset;
    }
  }
}

button, input {
  @apply outline-none
}
